.weather_box {
    padding: 10px;
    border: 2px solid black;
    color: #fff;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    background-color: #7c7e8a85;
}

.weather-box_img {
    max-width: 100%;
    width: 128px;
    filter: invert(100%);
}