.App {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;

  font-family: 'Quicksand', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.weather_main {
  background-color: black;
  color: white;
  margin-bottom: 80px;
}

.weather_help-list {
  margin-top: 10px;
  font-size: 1.3em;
}

.weather__form {
  margin-bottom: 10px;
}

.weather__form-header {
  margin-bottom: 10px;
}

.navegation {
  padding-top: 15px;
}

.navegation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navegation ul li {
  display: inline;
  margin: 5px;
  color: black;
  font-weight: bold;
}

.navegation ul li a {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
}

.navegation ul li a:hover {
  background-color: #7c87926b;
}

.full {
  width: 100%;
}

body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}